<div id="home-part">
	<div class="container">
		<h2><%- header %></h2>
		<form method="post" action="/register-message">
			<div class="row">
				<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
					<div class="form-group">
						<input type="text" class="form-control" name="user_name">
					</div>
				</div>
				<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
					<div class="form-group">
						<input type="email" class="form-control" name="user_email">
					</div>
				</div>
				<div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-12 col-xs-12">
					<div class="form-group">
						<input type="submit" class="form-control btn btn-primary" name="register-submit" value="SUBMIT">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>